<launch>

    <include file="$(find openni_launch)/launch/openni.launch"/>

    <node name="ui_node" pkg="ui" type="main.py"/>

    <!--<node name="rviz" pkg="rviz" type="rviz"/>-->

    <node name="uvd_to_xyz_service_node" pkg="uvd_xyz_conversion" type="main.py"/>
    <node name="position_tf_server" pkg="barrett_model" type="position_tf_server.py"/>

    <include file="$(find gdl_launch)/launch/gdl_bhand.launch"/>

</launch>