<launch>
  <include file="$(find gdl_launch)/launch/upload_bhand.launch"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<rosparam param="source_list">["gdl_joint_states"]</rosparam>
		<rosparam param="use_gui">"false"</rosparam>
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find barrett_model)/urdf.rviz" required="true">
		<remap from="tf" to="gdl_tf" />
	</node>

</launch>
